<div class="container">
  <div class="row d-flex flex-column justify-content-center">
    <div class="col-md-6 mx-auto mt-4"> 
    <h1>User info</h1>
      <% if @user.errors.any? %>
        <% if @user.errors.count== 1 %> 
          <h2><%= @user.errors.count %> error prohibited this obj from being saved:</h2>
        <% else %>
          <h2><%= @user.errors.count %> errors prohibited this obj from being saved:</h2>
        <% end %>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @user do |f| %>
        <div class="mb-3">
          <label class="d-block" for="inputName">Name</label>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class: "w-100"%>      
        </div>
        <div class="mb-3">
          <label class="d-block" for="inputImage">ProfileImage</label>
          <%= f.file_field :profile_image, placeholder:"プロフィール画像", accept:"image/*" %>      
        </div>
        <div class="mb-3">
          <label class="d-block" for="inputIntroduction">Introduction</label>
          <%= f.text_area :introduction, id:"inputIntroduction", placeholder: "自己紹介", class: "d-block w-100" %>     
        </div>
        <div class="mb-3">
          
          <%= f.submit "Update User", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
