<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/d5f7447886.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="bg-dark text-white">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Bookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown"
                  aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item mr-4">
                  <i class="fa-solid fa-house"></i>
                  <%= link_to "Home", root_path, class: "text-white" %>
                </li>
                <li class="nav-item mr-4">
                  <i class="fa-solid fa-user"></i>
                  <%= link_to "Users", users_path, class: "text-white" %>
                </li>
                <li class="nav-item mr-4 ">
                  <i class="fa-solid fa-book"></i>
                  <%= link_to "Books", books_path, class: "text-white" %>
                </li>
                <li class="nav-item mr-4">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-white" %>
                </li>
              <% else %>
                <li class="nav-item mr-4">
                  <i class="fa-solid fa-house"></i>
                  <%= link_to "Home", root_path, class: "text-white" %>
                </li>
                <li class="nav-item mr-4">
                  <i class="fa-solid fa-link"></i>
                  <%= link_to "About", about_path, class: "text-white" %>
                </li>
                <li class="nav-item mr-4">
                  <i class="fa-solid fa-user-plus"></i>
                  <%= link_to "Sign up", new_user_registration_path, class: "text-white" %>
                </li>
                <li class="nav-item mr-4">
                  <i class="fa-solid fa-right-to-bracket"></i>
                  <%= link_to "Log in", new_user_session_path, class: "text-white" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <% if user_signed_in? %>
      <footer>
        <div class="container mt-5">
          <div class="row">
            <div class="mx-auto">
              <p>CopyRight infratop.inc</p>
            </div>
          </div>
        </div>
      </footer>
    <% end %>
  </body>
</html>
